@charset "UTF-8";

#main {
  float: none;
  width: 787px;
  padding-top: 50px;
}

#main h2 {
  border-style: none;
  font-size: 40px;
}

#main h3 {
  border-bottom: none;
}

#myset1,
#myset2,
#myset3,
#myset4,
#myset5 {
  text-align: center;
  margin: 10px auto 0;
  font-size: 30px;
  width: 787px;
  line-height: 110px;
  border: 1px solid #7a7a7a;
}

#main {
  float: none;
  width: 787px;
}